{% extends 'main.html' %}
{% block title %}Retrieve Password | LesionLens{% endblock %}

{% block content %}
<div class="screen-1">
    <span>Retrieve Password</span>

    <form method="POST">
        {% csrf_token %}
        <div class="form-group full-width">
            <label for="id_email">Email Address</label>
            <input 
                type="email" 
                name="email" 
                id="id_email"
                class="custom-input"
                placeholder="Enter your email"
                required
            >
        </div>

        <button type="submit" class="retrieve-button">Send Reset Link</button>
    </form>

    <div class="footer">
        <span><a href="{% url 'login' %}">Back to Login</a></span>
    </div>
</div>
{% endblock %}
